body{
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}
html,body{
    height: 100%;
}
h3{
    text-transform: uppercase;
    color: #41464b;
}
#home{
    height:100%
}
#home-cover{
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/image.jpg');
    
   
}
#home-content-box{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0,0,0.1);
    display:table;
}
#home-content-box-inner{
    display: table-cell;
   padding-top: 180px;
    text-align: center;
    padding-left: 20px;
}
#home-heading h3{
    color:#fff;
    font-size: 40px;
    font-weight: 900;
    margin: 20px 0px 20px 0;
    text-transform: uppercase;
    
}
.btn-general {
    
    border-width: 2px ;
    border-radius:0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.btn-white{
    border-color:#fff;
    color: #fff;
}
.btn-white:hover, .btn-white:focus{
    background-color: #fff;
    color: black;
}
.btn-blue{
    border-color:#FF5733;
    color: #FF5733;
}
.btn-blue:hover,
 .btn-white:focus{
    background-color: #FF5733;
    color:#fff;
}
.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px ;
    border-radius: 0;
    display: none;
}


.bg-parallax{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}
#home-cover{
    animation-delay: .1s;
    animation-duration:.5s;
}
#home-heading{
    animation-delay: .5s;
    animation-duration:.5s ;
}
#home-btn{
    animation-delay:1s;
    animation-duration:.5s;
}
.content-box{
    padding:60px 0 60px 0;
}
.content-title h3{
    font-size:30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}
.content-title-white h3{
    color: #fff;
}
.content-title-underline{
    width: 30px;
    height: 3px;
    background-color: #FF5733;
    margin:0 auto 30px auto;
}
.service-item{
    padding:20px 0 20px 0 ;
    margin-bottom:20px;
    cursor: pointer;
}
.service-item-icon i{
    color: #FF5733;
    float: left;
    padding: 15px;
    margin-right:25px;
    width:75px;
    height:75px;
    text-align: center;
}
.service-item:hover .service-item-icon i{
    color: #fff;
    background-color: #FF5733;
}
.service-item-title h3{
    font-size: 20px;
    font-weight: 400;
    margin:0 0 10px 0;
}
.service-item-desc p{
    margin:0;
    padding-left: 85px;
}
.service-item-desc p a{
    margin:0;
    padding-left: 15px;
}

#about-bg-diagonal{
    width: 60%;
    height: 700px;
    float:right;
    background-image: url(../img/f_about.jpg);
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}
#about-content-box{
    float:left;
    height: 700px;
}
#about-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}
#about-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}
#about .content-title h3{
    text-align: left;
}
#about .content-title-underline{
    margin: 0 0 30px 0;
}
#about-desc p{
    margin-bottom: 30px;
}
.row.no-gutters [class*=col-]{
    padding-left: 0;
    padding-right: 0;
   
}
.img-wrapper{
    overflow: hidden;
}
.img-wrapper img{
    transition: transform .5s ease;
}
.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}
.team-member{
    margin: 0 15px;
}
.team-member-info{
    padding:10px 0 30px 0;
}
.h4.team-member-name{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}
h4.team-member-designation{
    color:#FF5733;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}
.social-list{
    padding-left: 0;
}
.social-list li{
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}
.social-icon i{
    font-size: 17px;
}
.icon-gray i{
    color: #64707b;
}
.icon-yellow i{
    color: gold;

}
.icon-dark i{
    color: #34495E ;
}
.icon-white i{
    color: #fff;
}
.social-icon i:hover{
    color:gold;
   
}

#testimonials-cover{
    background-image: url("../img/bg-testimonials.jpg");
}
#testimonials .content-box{
    background-color: rgba(0, 0,0,0.1);
}
#customers-testimonials{
    padding:50px 0;
}
.testimonial img{
    max-width:120px;
    margin:0 auto 0 auto;
}

.testimonial blockquote{
    border: 0;
    font-family: Georgia,sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative;
}
.testimonial blockquote p{
    color: #fff;
}
.testimonial blockquote::before,
.testimonial blockquote::after{
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height:30px;
    position: absolute;
}
.testimonial blockquote::before{
    content:"\201C";
    top: 0;
    left: 0;
}
.testimonial blockquote::after{
    content:"\201D";
    bottom: 0;
    right: 50px;
}
.testimonial-author p{
    color: #fff;
    font-size: 17px;
}
.testimonial-author p strong{
    display:block;
}

.pricing-box{
    border: 3px solid #FF5733;
    padding: 20px 0;
    margin:10px 0;
    background-color:#F2F3F4 ;
}
h4.pricing-title{
    background-color: #FF5733;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight:700;
    text-transform: uppercase;
    margin: 0 0 30px 0;

}
h3.pricing-value{
    font-size: 60px;
    font-weight: 700;
}
h3.pricing-value sup{
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}
ul.pricing-spec{
    list-style: none;
    padding-left: 0;
    margin: 20px 0 40px 0;
}
ul.pricing-spec li p{
    font-weight: 400;
    text-transform: uppercase;
}
.pricing-box-lg{
    padding: 40px 0;
    margin: 0;
    background-color: #FF5733;
}
.pricing-box-lg h4.pricing-title{
    color: #FF5733;
    background-color: #fff;
}
.pricing-box-lg ul.pricing-spec li p {
    color: #fff;
}
#stats-cover {
    background-image: url("../img/final_bg.jpg");
}
#stats .content-box{
    background-color: rgba(0, 0, 0, .8);
}
.stats-item{
    padding: 100px 0;
}
.stats-item i{
    color: #FF5733;
}
.stats-item h2{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top:15px;
    margin-bottom: 1px;
}
.stats-item p{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top:0;
}

footer{
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0,0,0.1);
}
#contact-left h3, #contact-right h3{
    color:#fff;
    font-size: 27px;
    font-weight: 700;
}
#contact-left p{
    color:#fff;
    margin-bottom:30px;
}
#contact-info{
    background-image: url("../img/world-map.png");
    background-repeat: no-repeat;
    background-size: contain;
}
address{
    color: #fff;
}
address strong,
#phone-fax-email strong{
    letter-spacing: 1px;
}
form .form-control{
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}
#footer-bottom{
    background-color: rgba(0, 0,0,0.1);
    padding: 30px 0;
    margin-top: 60px;

}
#footer-copyrights p{
    margin: 0;
    color: #fff;
}
#footer-menu{
    float:left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
#footer-menu ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
#footer-menu ul li{
    display: inline-block;
}
#footer-menu a{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}
#footer-menu a:hover{
    color: #FF5733;
}

.navbar{
    padding: 20px 0;
    transition: all .5s ease-in-out;
}
.vesco-top-nav{
    background: rgba(0, 0,0,0.7);
    padding: 7px 0;
}
.vesco-nav-wrapper{
    padding: 0 85px;
}
.navbar-nav{
    float: right;
}
.navbar-nav >li>a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.navbar-nav>li>a:hover ,.navbar-nav >li>a:focus{
    background: none;
    color:#FF5733;
}
.navbar-toggle{
    background-color: rgba(0, 0,0,0.1);
    border: 1px solid #fff;
    border-radius: 0;

}
.navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-collapse{
    max-height: none !important;
}
.vesco-top-nav ul.navbar-nav > li.active > a{
    color: #FF5733;
}

div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  div.cont {
    padding: 10px;
    background-color:#e5e4e2;
  }

  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }




  ul.pricing-spec1{
    list-style: none;
    padding-left: 5px;
    margin: 20px 0 4px 0;
}
ul.pricing-spec1 li p{
    font-weight: 400;
    text-transform: lowercase;
    text-align: left;
    padding-left: 15px;
}


.row-margin-05 { margin-top: 0.5em; }
.row-margin-10 { margin-top: 1.0em; }
.row-margin-20 { margin-top: 2.0em; }
.row-margin-30 { margin-top: 3.0em; }

.btn-cen{
text-align: center;
}

/* 
style="font-size: 19px;font-weight: 600;font-family: 'Kaushan Script', cursive ; */

.breakfast-content{
    font-size: 19px;
    font-weight: 600;
    font-family: 'Kaushan Script', cursive ;
    text-align: center;
}


/* .loader-wrapper{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
}
.loader-inner{
    vertical-align:top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader inner 2s infinite ease-in;
} */



/* <section id="menu">
    <div class="content-box">
        <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
            <h3>OUR ALL DAY MENU</h3>
            <div class="content-title-underline"></div>
        </div>
    
    <div class="container">
        <div class="row">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ullam, commodi eius iste dolore dolorum laboriosam consectetur odit dicta alias itaque rem aliquid consequuntur ipsam quidem </p>
            
            <br> <h style="font-size: 19px;font-weight: 600;font-family: 'Kaushan Script', cursive ;margin-left:40%"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp; BREAKFAST MENU</h><hr>
            <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
            

                <div class="polaroid">
                    <img src="img/d6.jpg" alt="Norway" style="width:100%">
                    <div class="cont">
                      <p style="font-weight: 400;">MixSalad, Choupsey</p>
                    </div>
                  </div>


            </div>
            <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                
                <div class="polaroid">
                    <img src="img/d5.jpg" alt="Norway" style="width:100%">
                    <div class="cont">
                      <p style="font-weight: 400;">MixSalad, Choupsey</p>
                    </div>
                  </div>
                
            </div>
            <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                
                <div class="polaroid">
                    <img src="img/d9.jpg" alt="Norway" style="width:100%">
                    <div class="cont">
                      <p style="font-weight: 400;">MixSalad, Choupsey</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                
                <div class="polaroid">
                    <img src="img/d5.jpg" alt="Norway" style="width:100%">
                    <div class="cont">
                      <p style="font-weight: 400;">MixSalad, Choupsey</p>
                    </div>
                  </div>
                
            </div>
            <hr>
            <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                

                <div class="polaroid">
                    <img src="img/d10.jpg" alt="Norway" style="width:100%">
                    <div class="cont">
                      <p style="font-weight: 400;">MixSalad, Choupsey</p>
                    </div>
                  </div>


            </div>
            <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                

                <div class="polaroid">
                    <img src="img/d9.jpg" alt="Norway" style="width:100%">
                    <div class="cont">
                      <p style="font-weight: 400;">MixSalad, Choupsey</p>
                    </div>
                  </div>


            </div>
            <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                

                <div class="polaroid">
                    <img src="img/d5.jpg" alt="Norway" style="width:100%">
                    <div class="cont">
                      <p style="font-weight: 400;">MixSalad, Choupsey</p>
                    </div>
                  </div>


            </div>
            <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                

                <div class="polaroid">
                    <img src="img/d6.jpg" alt="Norway" style="width:100%">
                    <div class="cont">
                      <p style="font-weight: 400;">MixSalad, Choupsey</p>
                    </div>
                  </div>


            </div>


            </div>
         </div>
<br>


         <div class="container">
            <div class="row">
                
                <br> <h style="font-size: 19px;font-weight: 600;font-family: 'Kaushan Script', cursive ;margin-left:40%"><i class="fa fa-cutlery" aria-hidden="true">&nbsp;&nbsp; </i>LUNCH MENU </h>
                <br><br><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil incidunt doloribus, iure ad obcaecati earum perferendis aut consequatur maxime mollitia ut pariatur, soluta voluptate a </p>
                <hr>
                <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                    
    
                    <div class="polaroid">
                        <img src="img/d6.jpg" alt="Norway" style="width:100%">
                        <div class="cont">
                          <p style="font-weight: 400;">MixSalad, Choupsey</p>
                        </div>
                      </div>
    
    
                </div>
                <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                    
                    <div class="polaroid">
                        <img src="img/d5.jpg" alt="Norway" style="width:100%">
                        <div class="cont">
                          <p style="font-weight: 400;">MixSalad, Choupsey</p>
                        </div>
                      </div>
                    
                </div>
                <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                    
                    <div class="polaroid">
                        <img src="img/d9.jpg" alt="Norway" style="width:100%">
                        <div class="cont">
                          <p style="font-weight: 400;">MixSalad, Choupsey</p>
                        </div>
                      </div>
                </div>
    
                <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                    
                    <div class="polaroid">
                        <img src="img/d5.jpg" alt="Norway" style="width:100%">
                        <div class="cont">
                          <p style="font-weight: 400;">MixSalad, Choupsey</p>
                        </div>
                      </div>
                    
                </div>
                <hr>
                <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                    
    
                    <div class="polaroid">
                        <img src="img/d10.jpg" alt="Norway" style="width:100%">
                        <div class="cont">
                          <p style="font-weight: 400;">MixSalad, Choupsey</p>
                        </div>
                      </div>
    
    
                </div>
                <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                    
    
                    <div class="polaroid">
                        <img src="img/d9.jpg" alt="Norway" style="width:100%">
                        <div class="cont">
                          <p style="font-weight: 400;">MixSalad, Choupsey</p>
                        </div>
                      </div>
    
    
                </div>
                <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                    
    
                    <div class="polaroid">
                        <img src="img/d5.jpg" alt="Norway" style="width:100%">
                        <div class="cont">
                          <p style="font-weight: 400;">MixSalad, Choupsey</p>
                        </div>
                      </div>
    
    
                </div>
                <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                    
    
                    <div class="polaroid">
                        <img src="img/d6.jpg" alt="Norway" style="width:100%">
                        <div class="cont">
                          <p style="font-weight: 400;">MixSalad, Choupsey</p>
                        </div>
                      </div>
    
    
                </div>
    
    
                </div>
             </div>

<br>
             <div class="container">
                <div class="row">
                    
                    <br> <h style="font-size: 19px;font-weight: 600;font-family: 'Kaushan Script', cursive ;margin-left:40%"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp; DINNER MENU </h>
                    <br><br><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil incidunt doloribus, iure ad obcaecati earum perferendis aut consequatur maxime mollitia ut pariatur, soluta voluptate a </p><hr>
                    <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        
        
                        <div class="polaroid">
                            <img src="img/d6.jpg" alt="Norway" style="width:100%">
                            <div class="cont">
                              <p style="font-weight: 400;">MixSalad, Choupsey</p>
                            </div>
                          </div>
        
        
                    </div>
                    <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        
                        <div class="polaroid">
                            <img src="img/d5.jpg" alt="Norway" style="width:100%">
                            <div class="cont">
                              <p style="font-weight: 400;">MixSalad, Choupsey</p>
                            </div>
                          </div>
                        
                    </div>
                    <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        
                        <div class="polaroid">
                            <img src="img/d9.jpg" alt="Norway" style="width:100%">
                            <div class="cont">
                              <p style="font-weight: 400;">MixSalad, Choupsey</p>
                            </div>
                          </div>
                    </div>
        
                    <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        
                        <div class="polaroid">
                            <img src="img/d5.jpg" alt="Norway" style="width:100%">
                            <div class="cont">
                              <p style="font-weight: 400;">MixSalad, Choupsey</p>
                            </div>
                          </div>
                        
                    </div>
                    <hr>
                    <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        
        
                        <div class="polaroid">
                            <img src="img/d10.jpg" alt="Norway" style="width:100%">
                            <div class="cont">
                              <p style="font-weight: 400;">MixSalad, Choupsey</p>
                            </div>
                          </div>
        
        
                    </div>
                    <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        
        
                        <div class="polaroid">
                            <img src="img/d9.jpg" alt="Norway" style="width:100%">
                            <div class="cont">
                              <p style="font-weight: 400;">MixSalad, Choupsey</p>
                            </div>
                          </div>
        
        
                    </div>
                    <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        
        
                        <div class="polaroid">
                            <img src="img/d5.jpg" alt="Norway" style="width:100%">
                            <div class="cont">
                              <p style="font-weight: 400;">MixSalad, Choupsey</p>
                            </div>
                          </div>
        
        
                    </div>
                    <div class="col-md-3 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        
        
                        <div class="polaroid">
                            <img src="img/d6.jpg" alt="Norway" style="width:100%">
                            <div class="cont">
                              <p style="font-weight: 400;">MixSalad, Choupsey</p>
                            </div>
                          </div>
        
        
                    </div>
        
        
                    </div>
                 </div>

     </div>
 </section> */